// Here you can add other styles
// Define biến cho độ rộng của sidebar
$custom-sidebar-width: 300px;


// Định nghĩa biến màu
$custom-primary-color: #5878BF;

// Sử dụng mixin để áp dụng độ rộng cho sidebar
@mixin customSidebar {
  width: $custom-sidebar-width;
  background-color: $custom-primary-color;
  color: #00ff00;
}

$custom-secondary-color: #00ff00;


// Áp dụng mixin vào thành phần sidebar
.custom-sidebar {
  @include customSidebar;
  //@include primaryColor;
}

$custom-background-color: #D4EBFC; // Mã màu tùy chỉnh của bạn

.wrapper {
  background-color: $custom-background-color;
  // Các quy tắc CSS khác cho wrapper
}

$custom-header-background-color: #BBE1FC; // Mã màu tùy chỉnh của bạn

.mb-4 {
  background-color: $custom-header-background-color;
  // Các quy tắc CSS khác cho mb-4
}

.custom-header {
  color: #ff0000; /* Màu chữ */
}

.custom-data-grid {
  /* Màu nền của bảng */
  background-color: #ffffff;

  /* Màu chữ trong ô */
  color: #000;

  /* Màu chữ trong ô tiêu đề */
  & .MuiDataGrid-colCellTitle {
    color: #fff;
  }
}

// Tùy chỉnh màu nền cho các nút "Columns", "Filters", "Density", và "Export"
.MuiDataGrid-toolbarContainer {
  background-color: #92BA92;
}

// Tùy chỉnh màu chữ cho các nút
.MuiDataGrid-toolbarContainer .MuiDataGrid-toolbarButton {
  color: #525E75;
}

// Tùy chỉnh màu chữ khi hover vào các nút
.MuiDataGrid-toolbarContainer .MuiDataGrid-toolbarButton:hover {
  color: #5878BF;
}

.admin-login-heading{
  color: #43657D;
}
.admin-welcome-heading{
  color: #9FB0BD;
}

.login-container{
  background-color: #D4EBFC;
}

.card-login{
  background-color: #D9EFD8;
}

.login-button {
  background-color: #6BB57A; // Thay đổi màu nền tùy chọn
  color: #525E75; // Thay đổi màu chữ tùy chọn

  &:hover {
    background-color: #6BB57A;
  }
}
